*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.75rem;
    max-width: 1450px;
    min-height: 100vh;
    background-image: linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
}

#container{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 18px;
    width: 800px;
    margin-bottom: .5rem;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
    margin-bottom: 2rem;
}

#questions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 300px;
}

.question-div > p{
    font-size: .8rem;
    padding-right: 1rem;
    color: hsl(237, 12%, 33%);
    cursor: pointer;
}

.question-div > p:hover{
    color: hsl(14, 88%, 65%);
}

.question-div > .arrow{
    cursor: pointer;
}

.answer{
    color: hsl(240, 6%, 50%);
    margin-bottom: 1rem;
    width: 300px;
}

.divider{
    width: 300px;
    height: 1px;
    border: none;
    margin-bottom: 1rem;
    background-color: hsl(240, 5%, 91%);
}

.hidden{
    display: none;
}

.active > p{
    font-weight: 700;
}

.active > .arrow{
    transform: rotate(180deg);
}

@media(min-width: 700px){
    #container{
        height: 450px;
    }

    #main-illustration-div{
        overflow-x: clip;   
    }

    #illustration-div{
        background-image: url(images/bg-pattern-desktop.svg);
        background-size: 210%;
        background-repeat: no-repeat;
        background-position: bottom -80px  right 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #main-illustration-div > .main-img{
        position: relative;
        bottom: 80px;
        right: 50px;
        width: 350px;
    }

    #illustration-div > .box-img{
        position: relative;
        z-index: 1;
        top: 160px;
        right: 70px;
        width: 150px;
    }

    #faq-div{
        padding: 3rem;
    }
}

@media(max-width: 700px){
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px; 
        margin: 10rem 0 .5rem 0;    
    }

    #illustration-div{
        background-image: url(images/bg-pattern-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top 0px  right 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 130px;
    }

    #illustration-div > .box-img{
        position: relative;
        z-index: 1;
        top: 65px;
        right: 10px;
        width: 110px;
    }
    
    #main-illustration-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-illustration-div > .main-img{
        position: relative;
        bottom: 140px;
        width: 280px;
    }

     #faq-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem 2rem 1rem;
    }

    footer{
        margin-bottom: .5rem;
    }

}

footer{
    font-size: 11px; 
    text-align: center;
    color: hsl(240, 5%, 91%);
}

footer a{
color: hsl(14, 88%, 65%);
}